@page "/produtos/editar/{id:int}"
<!-- Ao clicar no botao acontece interacoes com servidor pelo websocket sem ter necessidade de JS -->
@using Blazor_App_EP.Data
@using Microsoft.EntityFrameworkCore
@using Blazor_App_EP.Components.Produtos

@inject ApplicationDbContext context
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Produtos</h2>
<hr />
@if (Produto is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Produto" OnValidSubmit="UpdateProdutos" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <input type="hidden" name="Produto.Id" value="@Produto.Id" />

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Produto.Nome" class="form-control" />
                    <ValidationMessage For="() => Produto.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descricao:</label>
                    <InputText id="descricao" @bind-Value="Produto.Descricao" class="form-control" />
                    <ValidationMessage For="() => Produto.Descricao" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label class="form-label">
                        Categoria:
                        <InputSelect class="form-select" @bind-Value="Produto!.Categoria">
                            <option value="">Selecione uma categoria...</option>
                            @foreach (var categoria in Categorias)
                            {
                                <option value="@categoria">@categoria</option>
                            }
                        </InputSelect>
                    </label>
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco:</label>
                    <InputNumber id="preco" @bind-Value="Produto.Preco" class="form-control" />
                    <ValidationMessage For="() => Produto.Preco" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="disponivelestoque" class="form-label">DisponivelEstoque:</label>
                    <InputCheckbox id="disponivelestoque" @bind-Value="Produto.DisponivelEstoque" class="form-check-input" />
                    <ValidationMessage For="() => Produto.DisponivelEstoque" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datavalidade" class="form-label">DataValidade:</label>
                    <InputDate id="datavalidade" @bind-Value="Produto.DataValidade" class="form-control" />
                    <ValidationMessage For="() => Produto.DataValidade" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-warning" href="/produtos">Voltar</a>
            </EditForm>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Produtos? Produto { get; set; }

    private readonly List<string> Categorias = new() { "Eletrônicos", "Vestuário", "Alimentos" };


    protected override async Task OnInitializedAsync()
    {
        Produto ??= await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);

        if (Produto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateProdutos()
    {
        context.Attach(Produto!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ProdutosExists(Produto!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/produtos");
    }

    private bool ProdutosExists(int id)
    {
        return context.Produtos.Any(e => e.Id == id);
    }
}
